body {
  background-color: #2c5467;
  background-image: url(235d5ca2292f4562882d9757d16b4bd0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8rem; }

